.myButton {
  display: inline-block;
	position: relative;
	height: 65px;
	line-height: 65px;
	cursor: pointer;
	overflow: hidden;
}

.myButton::before {
    position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 50%;
		height: 0;
		border-top: 0px solid transparent;
		opacity:0.15;
		transition:border-bottom-width .3s ease, border-left-width .3s ease;
}

.myButton:hover::before {
    border-bottom: 200px solid transparent;
    border-left: 200px solid white;
}
